@tailwind base;
@tailwind components;
@tailwind utilities;


.underline-a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 0.3s ease-in-out;
  margin: -6px auto;
}

.txt:hover  .underline-a {
  width: 100%;
}

.fill{
   position: absolute;
  bottom: 0;
  left: 0;
  width:30px;
  height: 30px;
  transition: width 0.3s ease-in-out;
  margin: -6px auto;
}

.txt:hover  .fill {
  width: 100%;
}

.nav-fill{
  position: absolute;
  top:-100%;
  left: 0;
  height: 5rem;
  width:100%;
  transition: top 0.3s ease-in-out;
  background-color: #000;
}

.nav:hover .nav-fill {
  top:0%;
}

.nav:hover{
  color: #fff;
}

.essence {
  position: relative;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.top-left-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90%;
  background-image: url('/assets/asset 5.png');
  background-size: contain;
  background-repeat: no-repeat;
}


.top-right-image {
  position: absolute;
  top: 0;
  right: -30%;
  width: 50%;
  height: 50%;
 background-image: url('/assets/asset 6.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .top-left-image,
  .top-right-image {
    opacity: 0.6;
    height: 40%;
    top:40%;
  }
}



