@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-white {
  fill: white;
}

.underline-a {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 0.3s ease-in-out;
  margin: -6px auto;
}

.txt:hover  .underline-a {
  width: 100%;
}

.fill{
   position: absolute;
  bottom: 0;
  left: 0;
  width:30px;
  height: 30px;
  transition: width 0.3s ease-in-out;
  margin: -6px auto;
}

.txt:hover  .fill {
  width: 100%;
}


